.header-form {
  padding: 10px;
}

.footer {
  position: relative;
  top: 100px;
  bottom: 0;
  text-align: center;
  padding: 80px 0;
  background-color: #343a40;
  color: white;
  height: 200px;
  width: 100%;
}

.home-title {
  font-size: 20px;
}

.background {
  position: relative;
  background-color: #343a40;
  background-image: url(/assets/background_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}

.home-contents {
  position: relative;
  background-color: white;
  border: 1px solid-gray;
  border-radius: 10px;
  height: 30%;
  width: 25%;
  left: 10%;
}

.search {
  top: 10%;
  padding: 20px;
}

.reccomend {
  top: 20%;
  padding: 50px 15px;
  text-align: center;
}

.location {
  padding: 0 10px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

table th {
  background-color: #add8e6;
  padding: 10px 20px;
  border: solid 1px;
}

table td {
  background-color: #f0f8ff;
  padding: 10px 20px;
  border: solid 1px;
}

.general-box {
  margin: 3%;
}
.td-limit {
  width: 300px;
}

.title {
  font-size: 30px;
  text-shadow: 1px 1px 2px silver;
  margin: 3%;
}

.notice {
    background-color: #98ecaa;
    padding: 5px;
    margin: 0;
  }

.alert {
  background-color: #ec98ac8f;
  padding: 5px;
  margin: 0;
}

.icon {
  border-radius: 50%;
}
