// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.roombtn {
    margin-left: 3%;
    width: 150px;
}

.required {
    color: white;
    background-color: red;
    padding: 3px;
    border-radius: 6px;
}

.room-image {
    margin-left: 3%;
}

.image-alt {
    font-size: 50px;
    height: 362px;
    width: 640px;
    margin-left: 3%;
    border: solid 1px;
    text-align: center;
    padding: 131px;
}

.rsv-box {
    position: absolute;
    border: solid 1px;
    border-radius: 10px;
    top: 24%;
    left: 65%;
    height: 400px;
    width: 300px;
    padding: 20px;
}

.rsv-content {
    margin-bottom: 20px;
}

.rsv-btn {
    width: 260px;
}